{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "dynamodb:PutItem",
                "kms:Encrypt",
                "kms:Decrypt",
                "dynamodb:GetItem",
                "dynamodb:Scan" ## decrypt
            ],
            "Resource": [
                "arn:aws:dynamodb:ap-southeast-2:792021138123:table/token-db",
                "arn:aws:kms:ap-southeast-2:792021138123:key/token-key"
            ]
        }
    ]
}
